    <div class="footer">

		<div class="footer-copy">
			&copy; Maelias Restaurante
		</div>

		<div class="footer-contact">
			<img src="../images/facebook.png">
			<img src="../images/instagram.png">
			<img src="../images/twitter.png">
			<img src="../images/vimeo.png">
		</div>
    </div>

  <script src="/scripts/index.js"></script>
</body>
</html>
