.botones {

    .boton1, .boton2, .boton3, .boton4, .boton5, .boton6 {
        display: inline;
        border-radius: 10px;
        border: 5px solid #deceb4;
        padding: 15px;
        margin: 25px; 

        a {
            text-decoration: none;
            color: #deceb4;
        }
    }
    
    .boton2 {
        padding-right: 30px;
        padding-left: 30px;
    }

    .boton3 {
        background-color: white;
        padding-right: 50px;
        padding-left: 50px;
        text-align: center;
        font-size: 23px;
        margin-left: 40px;
        position: absolute;
        top: 610px;
    }

    .boton4, .boton5 {
        padding-right: 25px;
        padding-left: 25px;
        position: relative;
        top: -100px;
        left: 520px;
    }

    .boton6 {
        position: relative; 
        top:-400px;
        left: 20px;
        padding: 20px;
    }

    .boton:hover {
        transform: scale(2);
    }
}

