.botones {
    text-align:center;

    .boton1, .boton2 {
        border-radius: 40px;
        width: 100px;
        height: 70px;
        background-color: none;
        border: 3px solid #deceb4;
    }
    
}

