.foto-eventos {
    img {
        max-height: 425px;
        min-width: 100%;
        object-fit: cover;
    }
}

.eventos-titulo {
    position: absolute;
    right: 0;
    color: white;
    background-color: #deceb4;
    text-transform: uppercase;
    top: 525px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 250px;
    margin-bottom: 30px;
    height: 70px;
    h1{
        margin-top: -5px;
    }
}

.trigger{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    img {
        max-height: 300px; 
    }
  }
  
  .container-block{
    overflow: hidden;
    max-height: 0;
    background-color: #ECECEC;
    transition: max-height .3s;
  }
  
  .content-block{
    padding: 1rem 2rem;
  }