.foto-eventos {
    img {
        max-height: 425px;
        min-width: 100%;
        object-fit: cover;
    }
}

.eventos-titulo {
    position: absolute;
    right: 0;
    color: white;
    background-color: #deceb4;
    text-transform: uppercase;
    top: 525px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 180px;
    margin-bottom: 30px;
    height: 70px;
}