.foto-restaurante {
    img {
        max-height: 425px;
        min-width: 100%;
        object-fit: cover;
    }
}

.restaurante-titulo {
    position: absolute;
    right: 0;
    color: white;
    background-color: #deceb4;
    text-transform: uppercase;
    top: 525px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 180px;
    margin-bottom: 30px;
    height: 70px;
}

.foto-chef {
    padding-top: 50px; 
    padding-left: 500px;
    img{
    border-radius: 1000px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    }
}

