---
layout: layouts/base.njk
title: Contacto

eleventyNavigation:
  key: Contacto
  order: 4
---
<div class="contacto-titulo">
	<h1>Contacto</h1>
</div>

<div class="foto-contacto">
  <img src="../images/mapa.png" alt="">
</div>

<div class="contacto-datos">
  <p> c/Bon dia, 27, av. Tibidabo<br>email@gmail.com <br> 609 04 35 44 </p>
</div>

<div class="botones">
  <div class="boton3 boton">
  	<a href="http://localhost:4000/Reservas/">reservar</a>
  </div>
</div>
       