---
layout: layouts/base.njk
title: El restaurante 

eleventyNavigation:
  key: El restaurante
  order: 1
---
<div class="foto-restaurante">
  <img src="../images/foto-vistas.jpeg" alt="">
</div>

<div class="restaurante-titulo">
	<h1>El Restaurante</h1>
</div>

<div class="foto-chef">
  <img src="../images/chef.jpeg" alt="">
</div>




