---
layout: layouts/base.njk
title: El restaurante 

eleventyNavigation:
  key: El restaurante
  order: 1
---
<div class="foto-restaurante">
  <img src="../images/foto-eventos.jpeg" alt="">
</div>

<div class="restaurante-titulo">
	<h1>El Restaurante</h1>
</div>

<div class="elementos-content">
  <div class="foto-chef">
    <img src="../images/foto-chef.jpeg" alt="">
  </div>

  <div class="texto-restaurante">
    <p> Visita con nosotros la casa de los grandes chefs premiados con estrellas Michelin, en la provincia diferentes restaurantes lucen un buen número de brillos. Descubre los últimos restaurantes japoneses abiertos con el mejor sushi o los más demandados, un tipo de cocina  en la que sin duda Barcelona es referencia. Indaga entre los asiáticos de sus calles, localiza espacios de cocina americana, dedicados al comensal más carnívoro o empleados en sacar el máximo de la cocina italiana o mexicana. </p>
  </div>

  <div class="botones"> 
      <div class="boton4">
		    <a href="http://localhost:4000/Reservas/">reserva ya</a>
      </div>
      <div class="boton5">
	    	<a href="http://localhost:4000/contacto/">contáctanos</a>
      </div>
	</div>

  
</div>





