---
layout: layouts/base.njk
title: El restaurante 

eleventyNavigation:
  key: El restaurante
  order: 1
---
<div class="foto-reservas">
  <img src="images/foto-principal2.jpeg" alt="">
</div>


<h1>This is global data: </h1>

<p> hola pedito </p>