---
layout: layouts/base.njk
title: Eventos

eleventyNavigation:
  key: Eventos
  order: 2
---

 <div class="foto-eventos">
    <img src="../images/foto-eventonoche.jpeg" alt="">
</div>

<div class="eventos-titulo">
	<h1>Eventos</h1>
</div>

<div class="instagram">
    
    <div class="slide">
      <h1>Follow @pizzammm</h1>  
     

    <div class="your-class">
      <div><img src="/images/slide_1.jpg"></div>
      
      <div><img src="/images/slide_2.jpg"></div>
      <div><img src="/images/slide_3.jpg"></div>
      <div><img src="/images/slide_4.jpg"></div>
      <div><img src="/images/slide_1.jpg"></div>
      <div><img src="/images/slide_2.jpg"></div>
      <div><img src="/images/slide_3.jpg"></div>
      <div><img src="/images/slide_4.jpg"></div>
    </div>

  </div>