---
layout: layouts/base.njk
title: Eventos

eleventyNavigation:
  key: Eventos
  order: 2
---

 <div class="foto-eventos">
    <img src="../images/foto-eventonoche.jpeg" alt="">
</div>

<div class="eventos-titulo">
	<h1>Eventos</h1>
</div>

<div class="bloques">
  <a href="#block1" class="trigger">
    <img src="../images/foto-boda.jpeg" alt="">
    <h1> Bodas </h1>
  </a>
  <div id="block1" class="container-block">
    <div class="content-block">
     <h2> El día más feliz </h2>
     <p>
      Nuestro experimentado equipo de organización trabajará con usted para ofrecer propuestas personalizadas donde cada detalle será estudiado para que su día más especial sea inolvidable. Déjese mimar por la calidad de nuestro servicio, pruebe nuestro menú de boda, celebre la ceremonia en nuestra preciosa terraza y disfrute de cada momento de la maravillosa compañía que le ofrecen las vistas panorámicas de Barcelona.
      </p>
    </div>
  </div>
  <a href="#block2" class="trigger">
    <img src="../images/foto-empresa.jpeg" alt="">
    <h1> Empresa </h1>
  </a>
  <div id="block2" class="container-block">
    <div class="content-block">
      <h2> Profesionalidad </h2>
      <p>
      Nuestros salones polivalentes, los privados, jardines y terrazas ofrecen un sinfín de posibilidades para realizar eventos a medida para tu empresa.Nuestro equipo profesional, altamente cualificado, coordina y gestiona cualquier demanda requerida por el cliente, que encontrará en Mirabé el espacio idóneo para su evento.
      </p>
    </div>
  </div>
  <a href="#block3" class="trigger">
    <img src="../images/foto-otroseventos.jpeg" alt="">
    <h1> Particular </h1>
  </a>
  <div id="block3" class="container-block">
    <div class="content-block">
      <h2> Todo tipo de fiestas </h2>
      <p>
      Maelias cuenta con menús especiales para tu día más especial, y el departamento comercial puede informarles de todas las actividades que se pueden celebrar en cada uno de nuestros espacios.Los diferentes salones y jardines que conforman Mirabé tienen la polivalencia de albergar todo tipo de eventos en cualquier época del año.
      </p>
    </div>
  </div>
  <a href="#block4" class="trigger">
    <img src="../images/foto-servicio.jpg" alt="">
    <h1> Servicios </h1>
  </a>
  <div id="block4" class="container-block">
    <div class="content-block">
      <h2> Otro tipo de servicio </h2>
      <p>
      Maelias Restaurante le ofrece en todo momento el asesoramiento necesario para convertir su evento en todo un éxito.Para ello, disponemos de todo tipo de servicios y equipos de profesionales que se pondrá a su disposición en todo momento.
      </p>
    </div>
</div>