---
layout: layouts/base.njk
title: Maelias

eleventyNavigation:
  key: Inicio
  order: 0
---
<div class="intro">

  <div class="foto-inicio">
    <img src="images/foto-principal3.jpeg" alt="">
  </div>

  <div class="apartados-intro">
    <div class="texto-intro">
      <h1>Restaurante</h1>
      <h2>Cocina Mediterránea</h2>
      <p> Desde un espléndido balcón sobre Barcelona, ​​al final de la Av. Tibidabo, donde te lleva el Tramvia Blau, Maelias es un marco espectacular donde podrás disfrutar de nuestro restaurante con cocina mediterránea y llena de detalles.
De la mano de nuestro Chef Joaquin Reig, nuestra carta incluye una gran variedad de platos originales y creativos que no te dejará indiferente.

Ven a disfrutar de nuestra amplia carta de cócteles o de tu cena en grupo contratando cualquiera de nuestros menús de restaurante.</p>
      
      <div class="botones"> 

        <div class="boton1">
					<a href="http://localhost:4000/El%20Restaurante/">+ información</a>
        </div>
        <div class="boton2">
					<a href="http://localhost:4000/contacto/">contáctanos</a>
        </div>

			</div>
    </div>

    <div class="fotos-intro"> 
      <img src="images/foto-collage.png" alt="">
    </div>
  </div>

</div>
