---
layout: layouts/base.njk
title: Maelias

eleventyNavigation:
  key: Inicio
  order: 0
---
<div class="intro">

  <div class="foto-inicio">
    <img src="images/foto-principal3.jpeg" alt="">
  </div>

  <div class="apartados-intro">
    <div class="texto-intro">
      <h1>Restaurante</h1>
      <h2>Cocina Mediterránea</h2>
      <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula.</p>
      
      <div class="botones"> 

        <div class="boton1">
					<a href="el restaurante.njk">+ información</a>
        </div>
        <div class="boton2">
					<a href="contacto.njk">contacto</a>
        </div>

			</div>
    </div>

    <div class="fotos-intro"> 
    </div>
  </div>

</div>
