---
layout: layouts/base.njk
title: Reservas

eleventyNavigation:
  key: Reservas
  order: 3
---
<div class="reservas">
  <div class="reservas-titulo">
	  <h1>Reservas</h1>
  </div>

  <div class="cuadros">
    <div class="cuadro-fecha">
      <h1> Seleccione una fecha: </h1>

        <div class="recuadro-mes">
          <p> < Noviembre > </p>
        </div>

        <div class="dias">
          <p> L M X J V S D </p>
        </div>

        <div class="números-no-disponible">
           <div class="números-no-disponible1">
              <p> 2 3 4 5 6 7 8</p>
           </div>
            <div class="números-no-disponible2">
              <p>9 10 11 12 13 14 15</p>
            </div>
            <div class="números-no-disponible3">
              <p>16 17 18 19 20 21 22<br>23 24</p>
            </div>
          </div>

        <div class="números-disponibles">
          <div class="num num1"> <p> 25 </p></div>
          <div class="num num2"> <p> 26 </p></div>
          <div class="num num3"> <p> 27 </p></div>
          <div class="num num4"> <p> 28 </p></div>
          <div class="num num5"> <p> 29 </p></div>
          <div class="num num6"> <p> 30 </p></div>
        </div>
        
    </div>

    <div class="cuadro-personas">
      <h1> Seleccione un número de personas: </h2>
      <div class="personas-nums">
        <div class="pers"> <p>1</p></div>
        <div class="pers"> <p>2</p></div>
        <div class="pers"> <p>3</p></div>
        <div class="pers"> <p>4</p></div>
        <div class="pers"> <p>5</p></div>
        <div class="pers"> <p>6</p></div>
        <div class="pers"> <p>7+</p></div>
      </div>
    </div>

    <div class="cuadro-horas">
      <h1> Seleccione una hora:</h2>
      <div class="comida">
        <p> Comida </p> 
      </div>
      <div class="comida-horas">
         <div class="hora"> <p>13.00</p></div>
        <div class="hora"> <p>13.30</p></div>
        <div class="hora"> <p>14.00</p></div>
        <div class="hora"> <p>14.30</p></div>
        <div class="hora"> <p>15.00</p></div>
        <div class="hora"> <p>15.30</p></div>
      </div>
      <div class="cena">
        <p> Cena </p>
      </div>
      <div class="cena-horas">
        <div class="hora"> <p>19.30</p></div>
        <div class="hora"> <p>20.00</p></div>
        <div class="hora"> <p>20.30</p></div>
        <div class="hora"> <p>21.00</p></div>
        <div class="hora"> <p>22.00</p></div>
        <div class="hora"> <p>22.30</p></div>
        <div class="hora"> <p>23.00</p></div>
      </div>
    </div>
  </div>

  <div class="datos">
    <div class="dato"> <p>Nombre *</p></div>
    <div class="dato"> <p>Apellido *</p></div>
    <div class="dato"> <p>E-mail *</p></div>
    <div class="dato dato1"> <p>Teléfono *</p></div>
    <div class="telf"><p>+34</p></div>
  </div>

  <div class="botones"> 
        <div class="boton6 boton">
					<a>RESERVAR</a>
        </div>
  </div>


